{% extends "layout.html" %} {% block content %}
<div class="empty_div" ></div>
<div class="content-section">
  <h2 class="text-center">About page</h2>
  <p class="article-content">
    UCSP is a unique and innovative initiative from the department of ECE, NIE
    to bring research to UG students in a revolutionary way. Aiming at achieving
    this, here we introduce the blog. The main focus of this will be exploring
    new domains, encouraging technical writing as well as information exchange.
    This platform can be used if you need clarifications regarding any technical
    concept, if you want to share any new idea or if you have any
    suggestions/doubts related to our events or projects. We hope you make the
    best of it. Happy reading!
  </p>
</div>
{% endblock %}
